[user]
    name = Riccardo Albiero
    email = albr.riccardo@gmail.com

[core]
    editor = nvim
    excludesfile = "~/.gitignore"

[color]
    ui = always
    branch = always
    diff = always
    interactive = always
    status = always
    grep = always
    pager = true
    decorate = always
    showbranch = always

[push]
	default = simple

[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[diff]
  tool = vimdiff
[difftool "vimdiff"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[url "ssh://git@github.com:ricalbr/"]
	insteadOf = https://github.com/ricalbr/
	insteadOf = http://github.com/ricalbr/
