[user]
    name = Riccardo Albiero
    email = albr.riccardo@gmail.com

[core]
    editor = vim
    excludesfile = "~/.gitignore"

[color]
    ui = always
    branch = always
    diff = always
    interactive = always
    status = always
    grep = always
    pager = true
    decorate = always
    showbranch = always

[push]
    default = simple

[merge]
    tool = vimdiff

[mergetool]
    tool = vimdiff
    keepBackup = false
    conflictstyle = diff3

[diff]
    tool = vimdiff

; [url "ssh://git@github.com:ricalbr/"]
;   insteadOf = https://github.com/ricalbr/
;   insteadOf = http://github.com/ricalbr/
[credential]
    helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring

[init]
    defaultBranch = main
